In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
df = pd.read_csv('housing.csv')

In [3]:
df= df[['households','ocean_proximity','median_house_value']]

In [4]:
df['median_house_value'] = df['median_house_value'].astype(int)

In [5]:
df['households'] = df['households'].astype(int)

In [6]:
df.head()

   households ocean_proximity  median_house_value
0         126        NEAR BAY              452600
1        1138        NEAR BAY              358500
2         177        NEAR BAY              352100
3         219        NEAR BAY              341300
4         259        NEAR BAY              342200

In [9]:
df['ocean_proximity'].replace({'<1H OCEAN': '100m Near Ocean'}, inplace=True)

In [10]:
df['ocean_proximity'].value_counts()

100m Near Ocean    9136
INLAND             6551
NEAR OCEAN         2658
NEAR BAY           2290
ISLAND                5
Name: ocean_proximity, dtype: int64

In [11]:
df.rename(columns={'median_house_value':'Suitable_House_Price_To_Purchase'},inplace= True)

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['ocean_proximity']= le.fit_transform(df['ocean_proximity'])

In [13]:
le.classes_

array(['100m Near Ocean', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
      dtype=object)

In [14]:
pickle.dump(le, open('label_preprocessor.pkl','wb'))

In [15]:
df.head()

   households  ocean_proximity  Suitable_House_Price_To_Purchase
0         126                3                            452600
1        1138                3                            358500
2         177                3                            352100
3         219                3                            341300
4         259                3                            342200

In [16]:
X =df[['households','ocean_proximity']]

In [17]:
y= df['Suitable_House_Price_To_Purchase']

In [18]:
X

       households  ocean_proximity
0             126                3
1            1138                3
2             177                3
3             219                3
4             259                3
...           ...              ...
20635         330                1
20636         114                1
20637         433                1
20638         349                1
20639         530                1

[20640 rows x 2 columns]

if (ocean_proximity == 'ocean'):
    ocean_proximity = 0
elif (ocean_proximity == 'inland'):
    ocean_proximity = 1
elif (ocean_proximity == 'island'):
    ocean_proximity = 2
elif (ocean_proximity == 'near_bay'):
    ocean_proximity = 3
else:
    ocean_proximity = 4

In [19]:
#regressor = LinearRegression()
X

       households  ocean_proximity
0             126                3
1            1138                3
2             177                3
3             219                3
4             259                3
...           ...              ...
20635         330                1
20636         114                1
20637         433                1
20638         349                1
20639         530                1

[20640 rows x 2 columns]

In [20]:
#regressor.fit(X,y)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [23]:
regressor = LinearRegression()

In [24]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
y_pred=regressor.predict(X_test)

In [26]:
print('y_pred',X_test.shape)

y_pred (6192, 2)

In [28]:
pickle.dump(regressor, open('model.pkl','wb'))

In [27]:
#model = pickle.load(open('model.pkl', 'rb'))

In [27]:
model.predict([[530, 1]])

array([206539.02802274])

In [ ]:
@app.route('/predict', methods=['POST'])
def predict():

    ''' FOR RENDERING RESULTS ON HTML GUI'''

    
    household = int(request.form['households'])
    ocean_proximity = request.form['ocean_proximity']
    ocean_proximity = int(label_preprocessor.transform([ocean_proximity])[0])
    data = [household, ocean_proximity]
    prediction = model.predict([data])

    print('Household', household)
    print('\ocean prox', ocean_proximity)
    print(data)
    print(prediction)
    #predictionString = ','.join(str(x) for x in prediction)
    output = round(prediction[0],2)
    return render_template('index.html', prediction_text ='The cost of purchasing a house in this area will be {}'.format(output))